-if user_signed_in?
  #welcome
    - if current_user.certified
      =image_tag "lazercert.png", :alt=>"Certified", :title=>"Certified", :class => "welcomecert"
    ="Welcome #{current_user.name} ("
    =raw get_balance
    )
  %li.menupadding=link_to "Your Account", edit_user_registration_path
  -if can? :manage, :all
    %li.menupadding=link_to 'Manage', admin_index_path
-else
  %li.menupadding=link_to 'Register', new_user_registration_path
