%h1 Manage Lazer minutes
%p Click the user below to modify minutes


%table
  %tr
    %th Email
    %th Username
    %th Balance
    %th Action
  - @users.each do |u|
    %tr
      %td=u.email
      %td=u.username
      %td=u.balance
      %td 
        =link_to 'Add Minutes', :controller => :time_balances, :action => "add", :id => u.id

=link_to 'Balances', time_balances_path
|
=link_to 'Home', home_index_path

