%h1 How to Schedule Time on the Laser
%p
  If you wish to schedule time to use the laser yourself you must first become certified with this equipment.  To do this you will need to attend a class (See
  =link_to 'FAQ', "http://wiki.hive13.org/Laser"
  ) You will also need to be a member of the Hive to use the laser unattended.
%p 
  If you are not a member and/or have not been certified you can attend Monday nights Fab Lab night or schedule time with a certified Hive13 member to use the laser.
%b Steps to reserve laser time (Members Only)
%li
  Open the Hive13 Calendar to create an event:
  =link_to 'Hive13 Calendar', "http://cal.hive13.org/"
%li On the left hand side, select 'Add.. Rooms, etc.' and then 'Add 60W Laser Cutter'
%li Select the 'Find a time' tab and navigate to the date and time you would like to use the laser, and make sure it is not shown as previously reserved on the calendar. You may schedule up to 2 hours at a time in advance. If no one else schedules time you can just continue using the machine - but we'd appreciate it if you would update your block later so we can keep track of usage.
%li Save your event

%br
%b Steps to reserve laser time (Non-Members)
%p
  You must coordinate with a certified member or attend Monday nights Fab Lab.  A method to place an open request for time is a planned feature not implemented directly on this site yet.  For now, you need to either attend a public meeting or send a message to the Hive13 mailing list:
  =link_to "Hive13 Mailing List", "http://groups.google.com/group/cincihackerspace"
%br
=link_to 'Home', home_index_path
