<%= link_to home_index_path do %>
  <h1 class="header">Spend Minutes</h1>
<% end %>

<div id="bodyPan">
<h2> Spend Minutes</h2>
<%= render 'form' %>

<%= link_to 'Time Balance', time_balances_path %>
|
<%= link_to 'Home', home_index_path %>
</div>
<div id="bodybottomPan">&nbsp;</div>

