/*--BODY PANEL--*/
#bodyPan{width:352px; background:url(bodytopbg.jpg) 0 0 no-repeat #fff; color:#1A1917; position:relative; margin:0 auto; padding:0 56px;}
#bodyPan h1{width:352px; height:32px; display:block; background:url(welcomebg.gif) 0 100% repeat-x; font:28px/26px Georgia, "Times New Roman", Times, serif; padding:42px 0 0;}
#bodyPan h1 span{background:#F9F9F9; color:#9A0000; font-size:26px;}
#bodyPan h2{width:350px; height:32px; display:block; background:url(dotline.gif) 0 100% repeat-x #fff; font:28px/26px Georgia, "Times New Roman", Times, serif; padding:42px 0 0; color:#9A0000;}

#bodybottomPan{width:464px; height:42px; background:url(bodybottombg.jpg) 0 0 no-repeat; position:relative; margin:0 auto; clear:both; }

#bodyPanWide{
  background-color: #ffffff;
  border: 2px solid;
  border-radius:20px;
  -moz-border-radius:20px;
  padding: 10px;
  float: left;
}

#bodyPanWide h1{width:352px; height:32px; display:block; background:url(images/welcomebg.gif) 0 100% repeat-x; font:28px/26px Georgia, "Times New Roman", Times, serif; padding:42px 0 0;}
#bodyPanWide h1 span{background:#F9F9F9; color:#9A0000; font-size:26px;}
#bodyPanWide h2{width:450px; height:32px; display:block; background:url(dotline.gif) 0 100% repeat-x #fff; font:28px/26px Georgia, "Times New Roman", Times, serif; padding:42px 0 0; color:#9A0000;}



